In [1]:
from tardis.io.config_reader import Configuration
from tardis.simulation import Simulation
from tardis.plasma.standard_plasmas import assemble_plasma
from tardis.model import SimulationState
from tardis.io.atom_data import AtomData
from tardis.visualization.widgets.grotrian import GrotrianWidget
from tardis.io.config_internal import get_data_dir
from plotly.offline import init_notebook_mode
import plotly.io as pio
import os

init_notebook_mode(connected=True)
pio.renderers.default = "notebook_connected"

Iterations:          0/? [00:00<?, ?it/s]

Packets:             0/? [00:00<?, ?it/s]

In [2]:
### Run Simulation
config = Configuration.from_yaml("../../../docs/tardis_example.yml")
atom_data = AtomData.from_hdf(
    os.path.join(get_data_dir(), "kurucz_cd23_chianti_H_He.h5")
)
model = SimulationState.from_config(config, atom_data=atom_data)
plasma = assemble_plasma(config, model, atom_data=atom_data)
sim = Simulation.from_config(config, model=model, plasma=plasma)
sim.run_convergence()
sim.run_final()

/Users/archil/Documents/tardis_ayushi/tardis/plasma/properties/radiative_properties.py:93: RuntimeWarning:

invalid value encountered in true_divide

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.
/Users/archil/Documents/tardis_ayushi/tardis/plasma/properties/radiative_properties.py:93: RuntimeWarning:

invalid value encountered in true_divide

TqdmHBox(children=(HTML(value='Iterations:', layout=Layout(width='6%')), FloatProgress(value=0.0, layout=Layou…

TqdmHBox(children=(HTML(value='Packets:   ', layout=Layout(width='6%')), FloatProgress(value=0.0, layout=Layou…

/Users/archil/Documents/tardis_ayushi/tardis/plasma/properties/radiative_properties.py:93: RuntimeWarning:

invalid value encountered in true_divide

VBox(children=(FigureWidget({
    'data': [{'type': 'scatter', 'uid': '419b3691-c5aa-4c7b-aebf-33451889ce02', …

/Users/archil/Documents/tardis_ayushi/tardis/plasma/properties/radiative_properties.py:93: RuntimeWarning:

invalid value encountered in true_divide

In [ ]:
diag = GrotrianWidget.from_simulation(sim)
diag.plot.set_ion(2, 0) # He I
diag.display()

In [3]:
diag = GrotrianWidget.from_simulation(sim)
diag.plot.set_ion(8, 0)
diag.display()

Changing the ion will reset custom wavelength ranges, if any were set

VBox(children=(BoundedIntText(value=10, description='Max Levels:', max=40, min=1), BoundedIntText(value=3, des…